bin
gen
.gradle
build
.idea/workspace.xml
*.iml
.gradle
.idea/libraries
UUToolbox/.idea/workspace.xml
UUToolbox/.gradle
UUToolbox/toolbox/toolbox.iml
UUToolbox/app/app.iml
UUToolbox/.gradle/2.14.1/tasks/_toolbox_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
UUToolbox/.gradle/2.14.1/tasks/_toolbox_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
UUToolbox/.gradle/2.14.1/tasks/_toolbox_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
UUToolbox/.idea/misc.xml
