<?xml version="1.0" encoding="utf-8"?>
<manifest package="uu.toolboxapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ToolboxSampleApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.BtleScanActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.PeripheralDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ServiceDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.CharacteristicDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ScanSettingsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.PhotoGalleryActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.ClassicScanActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.ClassicDeviceDetailActivity" android:screenOrientation="portrait" />



    </application>

</manifest>